{% load static %}
{% load statics %}
{% load notifications_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'custom/styles.css' %}" >

    {% block title %}
    {% endblock title %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid mt-4">
        
            {% block content %}
            {% endblock content %}
       
     
      </div>
      
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'custom/js/infinite/jquery.waypoints.min.js' %}" ></script>
    <script src="{% static 'custom/js/infinite/infinite.min.js' %}" ></script>
    
    <script src="{% static 'custom/js/infinite_scroll.js' %}" ></script>
    <script src="{% static 'custom/js/main.js' %}" ></script>
    {% block js %}
    {% endblock js %}
    <script>
        setTimeout(function(){
          $('.alert').alert('close');
          },2500)
        </script>
  </body>
</html>