{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}
<div class="infinite-container">
    <form class="mb-2" method="GET" >
        <div class="form-group">
          <input type="text" class="form-control" id="seacrh" name="q" placeholder="Search Ideas" value="{{request.GET.q}}">
        </div>
      
        <button type="submit" class="btn btn-info btn-block">Search</button>
      </form>
      <hr>
{% for idea in ideas %}
<div class="card mb-4 infinite-item" >
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <a href="{{idea.get_absolute_url}}">
          <h4 class="card-title">{{idea.title}}</h4>
         
      </a>
      <small class="mr-2">Posted by :<a href="{% url 'accounts:profile' idea.created_by  %}">
           {{idea.created_by.first_name}} {{idea.created_by.last_name}}</small>
           
      </a> |
      <small class="pull-center ml-2">Posted at : {{idea.created_at}}</small>
      <small class="pull-center ml-2">Event : <a href="{{idea.event.get_absolute_url}}">{{idea.event.title}}</a></small>
       <hr>
      <p class="card-text">{{idea.description|markdown|truncatewords:20 }}</p>
      <!-- <a href="{{idea.get_absolute_url}}" class="btn btn-primary">Continue reading</a> -->
      <hr>
      <!-- <a href="{% url 'ideas:like' idea.slug %}"><i class="fa fa-thumbs-up mr-2" aria-hidden="true">Like</i></a> -->
      {% if user.is_authenticated %}
      {% if user not in idea.likes.all %}
      <a href="#" data-href="{{idea.get_like_api_url}}" class="like-btn mr-2">
          <span class="like-count mr-1">{{idea.likes.count}}</span>
        <i class="fa fa-thumbs-up mr-2" aria-hidden="true">Like</i>
        
      </a>

      {% else %}
      <a href="#" data-href="{{idea.get_like_api_url}}" class="like-btn mr-2" style="color: #2196f3;">
          <span class="like-count mr-1">{{idea.likes.count}}</span>
        <i class="fa fa-thumbs-up mr-2" aria-hidden="true" >Liked</i>
        
      </a>

      {% endif %} 
      {% else %}
      <a href="{% url 'ideas:like' idea.slug %}"  >
          <span class="like-count mr-1">{{idea.likes.count}}</span>
          <i class="fa fa-thumbs-up mr-2" aria-hidden="true">Like</i>
          
        </a>
      {% endif %} 
      
      <!-- <a href="#"><i class="fa fa-thumbs-down mr-2" aria-hidden="true">Unlike</i></a> -->

      <a href="{{idea.get_absolute_url}}">
          <span class="comment-count mr-1">{{idea.comment_set.count}}</span>
        <i class="fa fa-comments fa-1x mr-2" aria-hidden="true"></i>
        <b>Comments</b> 
      </a>
      
      <!-- <a href="#"><i class="fa fa-comments fa-2x" aria-hidden="true"></i><b>Comments</b> </a> -->
    </div>
    
  </div>
{% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if ideas.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ ideas.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ ideas.number }} of {{ ideas.paginator.num_pages }}.
        </span>

        {% if ideas.has_next %}
            <a href="?page={{ ideas.next_page_number }}">next</a>
            <a href="?page={{ ideas.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> 
<!-- {% if ideas.has_next %}
<a class="infinite-more-link" href="?page={{ ideas.next_page_number }}">
  <button class="btn btn-primary btn-block">More </button>
</a>
{% endif %} -->
{% endblock content %}

{% block js %}
<script>
all_imgs = $('.card-body img');
all_imgs.each(function(){$(this).addClass('img-fluid')})
</script>

<script>


  $('.like-btn').click(like_toggle_js);
</script>
<!-- <script>
  myInfiniteScroll();
</script> -->
<!-- <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>

  <script>
  $( document ).ajaxComplete(function() {
  console.log( "Triggered ajaxComplete handler." );
  all_imgs = $('.card-body img');
all_imgs.each(function(){$(this).addClass('img-fluid')})
});
</script> -->
{% endblock js %}
